body {
    background-image: linear-gradient(-90deg,white,grey);
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}

.avabro {
    width: 90px;
    height: 90px;
    flex: 1;
}

.user_text {
    margin-top: -10px;
    margin-left: 15px;
    flex: 4;
    font-size: 22px;
}

.uText {
    font-size: 22px;
}

.user_container {
    width: 100%;
    height: 100px;
    /*background-image: linear-gradient(-90deg,white,#EEEEEE);*/
    border-radius: 15px;
    display: flex;
}

.buttons_container {
    flex: 1;
    border-radius: 15px;
    background-image: linear-gradient(-90deg,white,#EEEEEE);
}


.head_container {
    background-image: linear-gradient(-90deg,white,#EEEEEE);
    max-width: 550px;
    margin-left: 250px;
    margin-top: 10px;
    padding: 8px;
    height: 155px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px #757D75;
}


@media (max-width:1300px){
    .head_container{
        margin-left:50px;
    }
}



#back_button {
    margin-top: 5px;
    background-color: #4E342E;
    margin-left: 10px;
    padding: 5px;
    color: white;
    width: 20%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}

#booking_button {
    margin-top: 5px;
    background-color: #757575;
    padding: 5px;
    color: white;
    width: 40%;
    float: right;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}

.conttt {
    max-width: 1500px;
    /*background-color: white;*/
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    border-radius: 45px;
}

@media (min-width:900px) {
    .conttt {
        display: flex;
        justify-content: space-between;
    }
}

.menu_columnX {
    flex-basis: 50%;
    background-image: linear-gradient(-90deg,#EEEEEE,white);
    border-radius: 5px;
    box-shadow: -10px -1px 10px #757D75;
    color: #795548;
}

.filter_column {
    flex-basis: 30%;
    background-image: linear-gradient(-90deg,white,#BDBDBD);
    margin-right: 30px;
    /*background-color: aqua;*/
    border-radius: 5px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    box-shadow: 10px -3px 10px #757D75;
}

#text {
    color: #795548;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

/*.list-group {
    margin-left: 60px;
    margin-top: 50px;
}*/

.filter_data {
    max-height: 1350px;
    max-width: 1400px;
    margin: 40px auto 0 auto;
    padding: 30px 0;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.cell {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: linear-gradient(-90deg,#8D6E63,#EEEEEE);
    padding: 8px;
    margin: 10px;
    margin-top: 16px;
    height: 250px;
    font-weight: 500;
}

.shiftItem {
    background-image: linear-gradient(-90deg,white,#BDBDBD);
    width:200px;
    margin-left:20px;
}

.img-responsive {
    width: 200px;
}

.text-danger {
    margin: 0px;
}




.filterSide {
    margin-top: 40px;
}

#custom-handle {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: #795548;
    opacity:30;
}

#slider-range {
    margin-left: 19px;
    margin-right: 29px;
    width: 180px;
}

.cellTitle {
    color: #616161;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: -8px;
}

.product_text {
    color: #4E342E;
    line-height: 1em;
}

.leftMargin{
    margin-left:20px;
    font-size:20px;
    font-weight:400;
}